<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/postpage.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src=""></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<title>Reboot Journal</title>
</head>
<a href="/"><h2>Reboot01 Forum</h2></a>
    <a href="/postpage/?id={{.PostID}}"><h1>{{.Title}}</h1></a> 
<body>
    <div class="details">
        {{range .Category}}<li>{{.CategoryName}}</li>{{end}}</div>
{{ if .LoggedUser }}<div class="likeButton">
{{ if .Userlike }}
<form method="GET" action="/like">
<button name= "removeInteraction" id = "removeInteraction" value="{{.PostID}}"><i class="fa fa-thumbs-up fa-5x" style="color: blue;"></i></button></form>
<form method="GET" action="/dislike">
    <button name= "postInteraction" id = "postInteraction" value="{{.PostID}}"><i class="fa fa-thumbs-down fa-5x" id="notclicked"></i></button></form>
{{else}}
{{if .UserDislike}}
<form method="GET" action="/like">
    <button name= "postInteraction" id = "postInteraction" value="{{.PostID}}"><i class="fa fa-thumbs-up fa-5x"></i></button></form>
<a href="http://localhost:8080/postpage/?id={{.PostID}}">
    <form method="GET" action="/dislike">
    <button name= "removeInteraction" id = "removeInteraction" value="{{.PostID}}"><i class="fa fa-thumbs-down fa-5x" style="color: blue;"></i></button></form></a>
    {{else}}
        <form method="GET" action="/like">
        <button name= "postInteraction" id = "postInteraction" value="{{.PostID}}"><i class="fa fa-thumbs-up fa-5x"></i></button></form>
        <form method="GET" action="/dislike">
        <button name= "postInteraction" id = "postInteraction" value="{{.PostID}}">
            <i class="fa fa-thumbs-down fa-5x"></i></button></form>
        {{end}}
        {{end}}</div>
        {{else}}
        {{end}}<br><br>
<h2>{{.Body}}</h2><br><br><br><div class="postedby">Posted by {{.Username}}</div><br><br>  
{{ if .LoggedUser }}
<div class="overlaycomments">
    <div class="commentbox" id="commentbox">
    <form method="post" action="/comment">
        <textarea name="commentContent" id="commentContent" rows="2" cols="40" placeholder="add comment..." required="true" maxlength="2000"></textarea>
      <button name= "postid" id = "postid" value="{{.PostID}}">Submit</button>
    </div><br>
  </form>
</div> 
{{else}}
{{end}}
{{range .Comments}}
<div class="postbox" id="postbox">
    <div class="username" id="username"><h3>{{.CommentUsername}}</h3><br></div>
    <h4>{{.Body}}</h4></div>{{end}}</div>
</body>
</html>
<script>
(function () {
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
})();
        src="https://kit.fontawesome.com/9e5ba2e3f5.js"
        src="/js/postpage.js"
      crossorigin="anonymous"
      if (location.href !== ("http://localhost:8080/postpage/?id={{.PostID}}")){
        window.location.replace("http://localhost:8080/postpage/?id={{.PostID}}")
      } 

</script>