* {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  background: url('../img/header-img.png') no-repeat;
  background-size: cover;
  background-position: 60px 0 0 0;
  height: 9rem;
  padding: 0;
  margin: 0;
}
  
.header .row {
  position: absolute;
  left: 0;
  bottom: -11rem;
  width: 100%;
  background-color: #232324;
  margin: 0;
  padding: 0;
}
  
.header .row .header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 6rem;
}
  
.header .row .header-content .logo {
  order: 1;
  padding: 0;
}

.header .row .header-content .logo a {
  color: var(--whiteColor);
}

.header .row .header-content .logo a:hover {
  color: var(--darkRedColor);
}
  
/* .header .row .header-content .logo img {
  height: 4rem;
  width: 10rem;
} */
  
.nav-search {
  order: 3;
  padding: 0;
  margin-top: 40px;
  width: 50%;
}

.nav-search .my-search {
  font-size: 2.4rem;
  width: 100%;
  height: 100%;
}

.my-search ul li {
  display: inline;
  margin: 0 25px;
  padding: 15px;
}
  
  .header .row .header-content .nav-group {
    order: 2;
  }
  
  .header .row .header-content .nav-group ul {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .header .row .header-content .nav-group ul li a {
    font-size: var(--fs24);
    color: var(--whiteColor);
  }
  
  .header .row .header-content .nav-group ul li a:hover,
  .header .row .header-content .nav-group ul li a span:hover {
    color: var(--darkRedColor);
  }
  
  .header .row .header-content .nav-group ul li a span {
    display: none;
  }

  @media (min-width: 768px) {
    .header {
      height: 18rem;
    }
  
    .header .row {
      bottom: 0;
      background-color: rgba(7, 7, 7, 0.5);
    }
  
    .header .row .header-content {
      align-items: center;
    }
  
    .header .row .header-content .logo {
      width: 23rem;
    }
  
    /* .header .row .header-content .logo img {
      height: 4.5rem;
      width: 16rem;
    } */
  
    /* .header .row .header-content .nav-search {
      order: 2;
      flex: 1 1 auto;
      margin-top: 0;
      padding: 0 1rem;
    } */
  
    /* .header .row .header-content .nav-search .form-group {
      max-width: 48rem;
      margin: 0 auto;
    } */
  
    .header .row .header-content .nav-group {
      order: 3;
      margin: 0 0 0 1.2rem;
    }
  
    .header .row .header-content .nav-group ul li a span {
      display: inline-block;
      text-transform: capitalize;
      font-size: var(--fs14);
      font-weight: 500;
      color: var(--whiteColor);
      margin-left: 0.5rem;
    }
  }