

main .left h2 {
  margin-bottom: 2.7rem;
  font-size: var(--fs24);
  color: var(--darkBlueColor);
}
h2:hover{
  color: var(--aquaColor);
}
main .left form select {
  width: 30%;
  padding: 1rem 0 1rem 0;
  border-radius: 5rem;
  border: 1px solid var(--blackColor);
  background-color: var(--lightBlackColor);
  color: var(--aquaColor);
}

.header-content {
text-align: center;
} 
main .left {
  margin-top: 20px;
}
li{
  color:var(--aquaColor);
  transition: 1.3s;
  /* text-align: center; */
  /* display: flex; */
}

main .left .box {
  /* display: inline-flex; */
  color:rgb(255, 255, 255);
  /* align-items: center; */
  background-color: var(--lightBlackColor);
  padding: 0.9rem 1.2rem;
  border-radius: 0.7rem;
  margin-bottom: 0.9rem;
  margin-left: 3.7rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.11),
    0 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
  min-width: 47%;
  border: 1px solid #000;
  font-size: 1.2rem;
  display: inline-block;
  
}

main .left .box:hover {
  background-color: black;
  transition: var(--transition);
  color:#CAADFF;
}
  
/* main .left .box .img {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  overflow: hidden;
} */
  
  main .left .box .details {
    padding-left: 1.2rem;
    font-size: 2.5rem;
  }
  main .left .box .details .categories {
    display: inline-flex;
    /* min-height: 20px; */
    max-width: 20%;
  }  
  main .left .box .details h1{
    font-weight: 700;
    color: var(--aquaColor);
    font-size: 4.5rem;
    letter-spacing: -0.02rem;
    display: flex;
  }
  main .left .box .details h6{
    font-weight: 700;
    /* color: var(--aquaColor); */
    font-size: 1.3rem;
    letter-spacing: -0.004em;
    display: inline;

  }
  
  main .left .box .details .sub-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    font-size: 2rem;
  }
  
  main .left .box .details .sub-details span {
    color: var(--aquaColor);
    margin-left: 0.5rem;
  }
  
  main .left .box .details .sub-details .comment {
    padding: 0.2rem 0.8rem 0;
    background-color: var(--lightWhiteColor);
    color: var(--darkGrayColor);
    font-size: 1.3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border-radius: 0.3rem;
  }
  
  .logo {
    width:50%;
  }
  /*Overlay*/
  .overlay {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgba(0 0 0 / 0.35);
    transition: var(--transition);
    padding: 0 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .nav-search li{
    
    text-align: center;
    width: 100%;
    max-width: 20%;
  }
  .my-search {
    /* order:1; */
    text-align: center;
    width: 45%;
    /* max-width: 20%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: -42px;
    
  }

  .my-search li{
    width: 100%;
    list-style: none;
    text-align: center; }
  /* .nav-group{
    text-align: right;
  } */
  .login {
    position: relative;
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: var(--lightBlackColor);
    max-width: 80rem;
    width: 100%;
    margin: 4rem auto 1rem;
    margin-top: 25vh;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0 0 0 / 0.5);
    overflow: hidden;
  }
  
  .login .top {
    display: flex;
    align-items: justify;
    justify-content: space-between;
    margin-top: 0.2rem;
  }
  
  .login h2 {
    font-size: 2.7rem;
    color: var(--darkBlueColor);
margin-bottom: 0;
    margin-right: 12rem;
  }
  
  .login .top i {
    font-size: var(--fs24);
    color: var(--whiteColor);
    cursor: pointer;
    margin-right: 0;
  }
  
  .login .row .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .login .row .content .login-left,
  .login .row .content .login-right {
    flex: 1;
    /* height: 230px; */
  }
  
  .login .row .content .login-left form input,
  .login .row .content .login-right form input {
    display: block;
    color: darkblue;
    background-color: #fcfcfc;
    border: 0.1rem;
    border-color: #d7f2ff;
    border-radius: 0.3rem;
    font-size: 1.9rem;
    padding: 1rem 1.5rem;
    width: 100%;
    margin-top: 0;
    position: flex;
    /* line-height: 1.4; */
  }
  
  .login .row .content .login-left form .form-group,
  .login .row .content .login-right form .form-group  {
    position: relative;
    padding-top: 3rem;
    /* margin-top: 1rem; */
  }
  
  .login .row .content .login-left .btn,
  .login .row .content .login-right .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom:0.1rem;
  }
  
  .login .row .content .login-left form a,
  .login .row .content .login-right form a {
    display: block;
    margin-top: 1rem;
  }

  .login .row .content .login-left .btn-red,
  .login .row .content .login-right .btn-red {
    min-width: 8rem;
    /* margin-bottom: 7rem; */
    width: 100%;
    background-color: rgb(129, 0, 0);
  }
  .login .row .content .login-left .btn-red:hover,
  .login .row .content .login-right .btn-red:hover {
    opacity:0.5;
    background-color: rgb(129, 0, 0);
    transition: var(--transition);
  }
  
  .overlayposts {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.35);
    transition: var(--transition);
    padding: 0 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    border-radius: 10px;
  }
  
  .overlayposts.active {
    opacity: 1;
    visibility: visible;
  }
  
  .postbox {
    position: relative;
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: aqua;
    max-width: 108rem;
    width: 100%;
    margin: 4rem auto 10rem;
    margin-top: 25vh;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0 0 0 / 0.5);
    overflow: hidden;
    font-size: large;
    border-radius: 10px;
  }
  .postbox i {
    font-size: var(--fs24);
    color: var(--blackColor);
    cursor: pointer;
    margin-left: 53%;
  }
  .postbox button {
    font-size: x-large;
    color: #2fbcfd;
    background-color: black;
    padding: 6px;
    border-radius: 10px;
  }
  textarea {
    font-size: x-large;
    resize: none;
    max-width: 106rem;
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 10px;

  }

  .overlaycatogaries {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgba(255, 0, 0, 0.35);
    transition: var(--transition);
    padding: 0 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .overlaycatogaries.active {
    opacity: 1;
    visibility: visible;
  }
  
  @media (min-width: 649px) {
    main .left .box .img {
      display: block;
    }
  
    .login .row .content {
      position: relative !important;
      flex-direction: row;
    }
  
    .login .row .content .login-left {
      order: 1;
      padding-right: 3rem;
      padding-top: 0;
    }
  
    .login .row .content .login-right {
      order: 3;
      padding-left: 3rem;
      padding-bottom: 0;
    }
  
    .login .row .content .line {
      order: 2;
    }
  
    .login .row .content .line::before {
      width: 0.1rem;
      height: 100%;
      inset: 0;
    }
  
    .login .row .content .line::after {
      left: -2rem;
    }
  }
  
  @media (min-width: 910px) {
    main .row {
      display: flex;
    }
  
    main .row .left {
      flex: auto;
    }
  
    main .row .right {
      flex: auto;
    }
  }