*{
    background-color: aquamarine;
}

  .postbox {
    position: relative;
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: var(--lightRedColor);
    max-width: 108rem;
    width: 100%;
    margin: 4rem auto 10rem;
    margin-top: 25vh;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(0 0 0 / 0.5);
    overflow: hidden;
    font-size: large;
  }
  button i {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .postbox button {
    font-size: x-large;
    color: #2fbcfd;
    background-color: black;
    padding: 6px;
    cursor: pointer;
    /* border-radius: 20%; */
  }
  textarea {
    font-size: x-large;
    resize: none;
    max-width: 106rem;
    background-color: black;
    color: #ffffff;
    font-weight: 900;
  }
