*{
    /* background-color: var(--blackColor); */
    /* color: var(--aquaColor); */
    
}

body {
text-align: center;
  color: var(--aquaColor);
  background-color: var(--blackColor);
  align-content: center;
  position: inline;
  width: 70%;
  margin-left: 32rem;
  margin-right: 32rem;
  margin-top: 3rem;
  /* width: 100rem; */
}
h1 {
  font-size: 8rem;
  /* position: relative; */
  /* margin-left: 1rem; */
  /* background-color: rgb(15, 15, 15); */
}
h2 {
width: 98%;
}
  button i {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .commentbox {
    font-size: x-large;
    /* resize: none; */
    /* max-width: 106rem; */
    /* background-color: black; */
    color: var(--aquaColor);
    font-weight: 900;
  }
  textarea {
    font-size: x-large;
    /* max-width: 106rem; */
    background-color: var(--blackColor);
    color: var(--aquaColor);
    font-weight: 900;
    width: 95%;
    /* margin-left: 1.7rem; */
  }
  li {
    color:#ffffff;
    font-weight:900;
  }
  .commentbox button {
    font-size: large;
    background-color: rgb(0, 0, 0);
    color: var(--aquaColor);
    font-weight: 900;
    border-radius: 22px;
    padding: 8px;
    border: 1cap;
    cursor:pointer;
    /* margin-left: 1.7rem; */
  }
  .commentbox button:hover {
    position: inline-flex;
    background-color: var(--aquaColor);
    color:#000;
    cursor: pointer;
   }
   .commentbox button:active {
    position: inline-flex;
    background-color: var(--aquaColor);
    color:#000;
    cursor: pointer;
    opacity: 0.5;
   }
  body .likeButton {
    text-align: right;
    margin-right: 8rem;
    margin-top: -1rem;
    /* border-radius: 0.4rem; */
    /* background-color: var(--lightBlackColor) */
    position: inline-flex;
  }
  body .likeButton .dislikebutton{
    text-align: right;
    margin-top: -4rem;
    margin-right: -5rem;
    /* border-radius: 0.4rem; */
    /* background-color: var(--lightBlackColor) */
    position: inline-flex;
  }
  body .likeButton button{
   /* position: inline-flex; */
   font-size: xx-small;
   color: #5900ff;
   background-color: var(--blackColor);
      cursor: pointer;
      border:0
  }
  button i:hover{
    /* position: relative; */
    /* font-size: xx-small; */
    background-color: var(--blackColor);
    color:#5900ff;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.5;
   }

body .postbox .username {
  font-size: xx-large;
  color: #26114d;

}
body .postbox {
  /* display: inline-flex; */
  background-color: var(--lightBlackColor);
  padding: 0.9rem 1.2rem;
  border-radius: 0.7rem;
  margin-bottom: 0.9rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.11),
    0 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
  min-width: 95%;
  min-height: 200px;
  /* float: left; */
  border: 1px solid #000;
}
body .postedby {
  font-size: xx-large;
  color: #5900ff;
  font-weight:900;
}

body .details{
  text-align: left;
  align-content: left;
  margin-left: 2rem;
  margin-top: -3rem;
  color: #5900ff;
  font-weight: 900;
}

body .detailsnotlogged{
  text-align: left;
  align-content: left;
  margin-left: 2rem;
  margin-top: -3rem;
  color: #5900ff;
  font-weight: 900;
}

.postbox .username h5 {
  color:#ffffff;
  font-size:1.2rem;
}

.postbox .likecount {
  margin-top: -4rem;
  margin-right: -23rem;
}
.postbox .dislikecount {
  margin-top: -2.2rem;
  margin-right: -8rem;
}
.postbox h5 {
  margin-top:3rem;
}