/* *{
    background-color: var(--lightBlackColor);
    color: var(--aquaColor);
} */

h1 {
  font-size: 8rem;
  position: relative;
  text-align:center;
  background-color: rgb(15, 15, 15);
}

  button i {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .postbox {
    font-size: x-large;
    resize: none;
    /* max-width: 106rem; */
    background-color: black;
    color: var(--aquaColor);
    font-weight: 900;
  }
  textarea {
    font-size: x-large;
    resize: none;
    max-width: 106rem;
    background-color: black;
    color: var(--aquaColor);
    font-weight: 900;
  }
  .postbox button {
    font-size: x-large;
    resize: none;
    max-width: 106rem;
    background-color: black;
    color: var(--aquaColor);
    font-weight: 900;
  }
  body .likeButton {
    text-align: right;
    margin-top: -90px;
  }
  body .likeButton button{
   position: inline-flex;
   font-size: xx-small;
  }
.details {
  background-color: darkblue;
}
.postbox .username {
  font-size: large;
}